<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.NovelInfoMapper">


    <select id="getNovelInfoByNovelId" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.NovelInfo">
        select * from novel_info where id = #{novelId}
    </select>

</mapper>