<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.SearchBookMapper">

    <insert id="insertHotBook" parameterType="vip.xiaozhao.intern.baseUtil.intf.entity.NovelInfo">
        insert into search_hot (bookId, bookName, times)
        values (#{id}, #{bookName}, 1)
    </insert>

    <update id="incrementNovelSearchNum" parameterType="int">
        update search_hot
        set times = times + 1
        where bookId = #{novellId}

    </update>

    <select id="searchNovelBasicList" resultType="vip.xiaozhao.intern.baseUtil.intf.vo.NovelBasicInfoVo">
        SELECT id,
               BookName,
               AuthorName,
               SubscribeNum,
               Cover,
               LatestChapterId,
               LatestChapter
        FROM novel_info
        WHERE
            MATCH (BookName
            , AuthorName)
            AGAINST(#{query} IN NATURAL LANGUAGE MODE)
          and status != 0
        ORDER BY
            SubscribeNum DESC
            LIMIT #{pageSize}
        OFFSET #{start};
    </select>

    <select id="getHotNovelByNovelId" parameterType="int"
            resultType="vip.xiaozhao.intern.baseUtil.intf.entity.HotNovelInfo">
        select id, bookName, bookId, times
        from search_hot
        where bookId = #{novelId}
          and status != 0
    </select>

    <select id="getHotNovelList" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.HotNovelInfo">
        SELECT id, bookName, bookId, times, status
        FROM search_hot
        WHERE status != 0
          AND updateTime >= CURDATE() - INTERVAL 10 DAY
        ORDER BY times DESC
            LIMIT 100;
    </select>

</mapper>